{
	auto_https off
}

localhost {
	encode gzip zstd
	root * /srv/webapp
	file_server

	@api path /api/* /verify/* /webhooks/*
	reverse_proxy @api backend:8080

	headers {
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		Referrer-Policy no-referrer
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
	}
}